{
    "build_dir": "Build",
    "executable": "C:\\EoC\\$BUILD_DIR\\EOC_Alpha.exe",
    "common_args": "-nullrhi -QuarkServer={{ quark_ip }} -QuarkServerPort={{ quark_port }}",
    "timeout": 0,
    "warning_timeout": 0,
    "timeout_randomizer_min": 0,
    "timeout_randomizer_max": 0,
    "disconnect_by_timeout": false,
    "keep_instances_alive": true
}

