{
    "build_dir": "Build",
    "executable": "C:\\EoC\\$BUILD_DIR\\EOC_Alpha.exe",
    "common_args": "-nullrhi -BotWorld -InterestRadius=0.05 -PullRate=0.016 -PushRate=0.032 -QuarkServer={{ quark_ip }} -QuarkServerPort={{ quark_port }} -QuarkWorld=CinematicTest",
    "timeout": 900,
    "warning_timeout": 1500,
    "timeout_randomizer_min": 0,
    "timeout_randomizer_max": 600,
    "disconnect_by_timeout": false,
    "keep_instances_alive": true
}

